body {
  font-family: sans-serif;
}

#app {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

#search-box {
  height: 30px;
  width: 300px;
  border: 1px solid grey;
  border-radius: 5px;
}

#search-box:focus {
  border: 3px solid blue;
}

.suggestions-container {
  display: none;
  max-height: 300px;
  width: 300px;
  overflow-y: scroll;
  border: 1px solid grey;
  margin-top: 2px;
  margin-left: 575px;
  border-radius: 5px;
}
.suggestions-visible {
  display: block;
}
